<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<div th:align="center">
    <h1>Введите детали пользователя:</h1>
    <br/>
    <form th:action="@{/admin/save}" th:object="${newUser}" th:method="post">
        <div>
            <label for="firstName">Имя: </label>
            <input type="text" th:field="*{firstName}" id="firstName"
                   required minlength="2" maxlength="20"/>
        </div>
        <br/>
        <div>
            <label for="lastName">Фамилия: </label>
            <input type="text" th:field="*{lastName}" id="lastName"
                   required minlength="2" maxlength="20"/>
        </div>
        <br/>
        <div>
            <label for="age">Возраст: </label>
            <input type="text" th:field="*{age}" id="age" required/>
        </div>
        <br/>
        <div>
            <label for="city">Город: </label>
            <input type="text" th:field="*{city}" id="city"
                   required minlength="2" maxlength="20"/>
        </div>
        <br/>
        <div>
            <label for="username">Логин: </label>
            <input type="text" th:field="*{username}" id="username"
                   required minlength="2" maxlength="20"/>
        </div>
        <br/>
        <div>
            <label for="password">Пароль: </label>
            <input type="text" th:field="*{password}" id="password"
                   required minlength="2" maxlength="10"/>
        </div>

        <div>
            <br/>
            <label>Выберите роль: </label>
            <ul>
                <th:block th:each="role : ${allRoles}">
                    <input type="checkbox" th:field="*{roles}" th:value="${role}"/>
                    <label th:for="${#ids.prev('roles')}" th:text="${role.name}">Users Role</label>
                </th:block>
            </ul>
        </div>

        <div>
            <input type="submit" value="Save">
        </div>
    </form>
</div>
</body>
</html>