<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<div th:align="center">
    <h2>Please enter User's details:</h2>
    <br/>
    <form th:action="@{/save}" th:object="${newUser}" th:method="post">
        <label for="firstName">First Name: </label>
        <input type="text" th:field="*{firstName}" id="firstName">
        <br/><br/>
        <label for="lastName">Last Name: </label>
        <input type="text" th:field="*{lastName}" id="lastName">
        <br/><br/>
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age">
        <br/><br/>
        <label for="name">City: </label>
        <input type="text" th:field="*{city}" id="name">
        <br/><br/>
        <p><input type="submit" value="Save"></p>
    </form>
</div>
</body>
</html>