<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<div th:align="center">
    <div>
        <h1>Ведите данные для изменения:</h1>
    </div>
    <br/>
    <div>
        <form th:action="@{/admin/{id}(id=${updateUser.id})}" th:object="${updateUser}" th:method="patch">
            <div>
                <label for="firstName">Имя: </label>
                <input type="text" th:field="*{firstName}" id="firstName"
                       required minlength="2" maxlength="20"/>
            </div>
            <br/>
            <div>
                <label for="lastName">Фамилия: </label>
                <input type="text" th:field="*{lastName}" id="lastName"
                       required minlength="2" maxlength="20"/>
            </div>
            <br/>
            <div>
                <label for="email">Email: </label>
                <input type="text" th:field="*{email}" id="email"
                       required minlength="8" maxlength="254"/>
            </div>
            <br/>
            <div>
                <label for="city">Город: </label>
                <input type="text" th:field="*{city}" id="city"
                       required minlength="2" maxlength="20"/>
            </div>
            <br/>
            <div>
                <label for="username">Логин: </label>
                <input type="text" th:field="*{username}" id="username"
                       required minlength="2" maxlength="20"/>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login error: </div>
            </div>
            <br/>
            <div>
                <label for="password">Пароль: </label>
                <input type="text" th:field="*{password}" id="password" readonly/>
            </div>
            <br/>
            <div>
                <br/>
                <label>Выберите роль: </label>
                <ul>
                    <div th:each="role : ${allRoles}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role}"/>
                        <label th:for="${#ids.prev('roles')}" th:text="${role.name}">Users Role</label>
                        <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Roles error:</div>
                    </div>
                </ul>
            </div>
            <br/>
            <div>
                <input type="submit" value="Update">
            </div>
        </form>
    </div>
</div>
</body>
</html>