<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div th:align="center">
    <h2>Список пользователей</h2>
    <a th:href="@{/new_add}">Add User</a>
    <br/><br/>
    <table th:border="1" th:cellpadding="12">
        <tr>
            <th>User Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
        <tbody>
        <tr th:each="user: ${userList}">
            <td th:text="${user.username}">Login</td>
            <td th:text="${user.getFirstName}">First Name</td>
            <td th:text="${user.getLastName}">Last Name</td>
            <td th:text="${user.getAge}">Age</td>
            <td th:text="${user.getCity}">City</td>
            <td>
                <form th:method="get" th:action="@{/{id}/edit(id=${user.getId})}">
                    <input type="submit" th:value="Edit">
                </form>
            </td>
            <td>
                <form th:method="delete" th:action="@{/{id}(id=${user.getId})}">
                    <input type="submit" th:value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>