<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<br/>
<a th:href="@{/admin/new_add}">Добавить пользователя</a>
<br/><br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
<br/><br/>
<div>
    <h2>Список пользователей</h2>
</div>
<div>
    <table th:border="1" th:cellpadding="15">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Город</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Роль</th>
        </tr>
        <tbody>
        <tr th:each="user: ${userList}">
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.city}">City</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.password}">Password</td>
            <td th:text="${user.roles}">Roles</td>
            <td>
                <form th:method="get" th:action="@{/admin/{id}/edit(id=${user.id})}">
                    <input type="submit" th:value="Edit">
                </form>
            </td>
            <td>
                <form th:method="delete" th:action="@{/admin/{id}(id=${user.id})}">
                    <input type="submit" th:value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

