<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
</head>
<body>
<h1>Мои детали</h1>
<table th:border="1" th:cellpadding="15">
    <tr>
        <th>First Name: </th>
        <th>Last Name: </th>
        <th>Age: </th>
        <th>City: </th>
        <th>Username: </th>
        <th>Roles: </th>
    </tr>
<tbody>
<th th:text="${userDetails.firstName}">First Name:</th>
<th th:text="${userDetails.lastName}">Last Name</th>
<th th:text="${userDetails.age}">Age</th>
<th th:text="${userDetails.city}">City</th>
<th th:text="${userDetails.username}">Username</th>
<th th:text="${userDetails.roles}">Roles</th>
<br/><br/>
</tbody>

</table>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
</body>
</html>